@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: rgb(12, 180, 101);
}
/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  background-color: #272c31; /* Background color of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #22cc5d; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1cb440; /* Change color on hover */
}

::-webkit-scrollbar-track {
  background: #1c1e21; /* Background color of the scrollbar track */
}
