.login-background {
    background-image: url('/public/login.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .register-login-background{
    background-image: url('/public/register.jpg');
    background-size: cover;
    background-position: center;

  }